/* ProfileSettings.css */

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  /* margin-right: 3px; */
}

input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}
.button-container {
  display: flex;
  /* Optional: add spacing between the buttons */
  gap: 10px;
}
.formbutton {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  display: inline-block;
}

button:hover {
  background-color: #0069d9;
}
.formbody {
  text-align: center;
  border: solid;
  width: 500px;
  padding: 40px;
  margin: auto;
}
.formheading {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bolder;
}